/* Absolute path */
body { background: url('/images/ajax-loader.gif'); }

/* Relative path */
body { background: url('/oops/../images/ajax-loader.gif'); }
body { background: url('../images/ajax-loader.gif'); }
body { background: url('../oops/../images/oops/../ajax-loader.gif'); }

/* Delimiters */
body { background: url("/images/ajax-loader.gif"); }
body { background: url(/images/ajax-loader.gif); }
body { background: url( /images/ajax-loader.gif    ); }
body { background: url('/images/ajax-loader.gif'); background: url("/images/ajax-loader.gif"); }

/* Escaped delimiters */
body { content: "<img src=\"/images/ajax-loader.gif\" />"; }

/* Case insensitive */
body { background: url('/IMAGES/ajax-loader.gif'); }

/* With query string and anchor */
body { background: url('/images/ajax-loader.gif?a=b'); }
body { background: url('/images/ajax-loader.gif#a'); }

/* Invalid */
body { background: url('ajax-loader.gif'); }
body { background: url('/images/ajax-loader'); }
body { background: url('/images/ajax-loader.gif.bak'); }
body { background: url('/images/not-ajax-loader.gif'); }
body { background: url('images/ajax-loader.gif'); }
body { background: url('/more/images/ajax-loader.gif'); }
body { background: url('/cool_images/ajax-loader.gif'); }
body { background: url('http://othersite.com/images/ajax-loader.gif'); }
