<!-- Absolute path -->
<img src="/images/ajax-loader.4e26f87c.gif" />

<!-- Relative path -->
<img src="/oops/../images/ajax-loader.4e26f87c.gif" />
<img src="../images/ajax-loader.4e26f87c.gif" />
<img src="../oops/../images/oops/../ajax-loader.4e26f87c.gif" />

<!-- Delimiters -->
<img src="/images/ajax-loader.4e26f87c.gif" /><img src="/images/ajax-loader.4e26f87c.gif" />

<!-- Case insensitive -->
<img src="/IMAGES/ajax-loader.4e26f87c.gif" />

<!-- With query string and anchor -->
<img src="/images/ajax-loader.4e26f87c.gif?a=b" />
<img src="/images/ajax-loader.4e26f87c.gif#a" />

<!-- Invalid -->
<img src="ajax-loader.gif" />
<img src="/images/ajax-loader" />
<img src="/images/ajax-loader.gif.bak" />
<img src="/images/not-ajax-loader.gif" />
<img src="images/ajax-loader.gif" />
<img src="/more/images/ajax-loader.gif" />
<img src="/cool_images/ajax-loader.gif" />
<img src="http://othersite.com/images/ajax-loader.gif" />
